.AFBrandingBarLogo, .xvt {
    display: block;
    width: 119px;
    height: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/DD_Logo_361C_RGB.jpg);
    padding-top: 8px;
    background-size: contain;
}

.AFBrandingBarLogoLarge, .xvu {
    display: block;
    width: 158px;
    height: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url(../images/DD_Logo_361C_RGB.jpg);*/

    background-image: url(../images/DD_Logo_361C_RGB.jpg);
    padding-top: 8px;
    /*background-size: 158px;*/

    background-size: contain;
}